html{
    overflow-x: hidden;
    font-family: RobotoSlab-Regular;
    height: 100%;
}

.form-control-range{
    height: 779px; 
}

#header-background{
    background:url(../images//Banner_bg_line.png);
}

.plogo{
    width: 226px;
    height: 113px;
    text-align: center;
    float: left;
    margin-top: 13px;
}

.search{
    background: url(../images/ico_search.svg);
    position: absolute;
    border: none;
    right: 16px;
    top: 23px;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
}

.searcher input[type=text]{
    border:none;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    margin-top: 21px;
    padding: 0 165px 0 0;
    display: inline-flex;
    position: relative;
}

body{
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    font-family: RobotoSlab-Regular;
}

.h_size{
    font-size: 18px;
    font-family: Heebo;
    margin-top: none;
    padding-top: 33px;
    color: #324950;
    padding-right: 8px;
}


.h_size a{
    color: #324950;
    text-decoration: none;
    padding-right: 8px;

}

.ex:hover{
    transition: 1s;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
  }
  
.text_name{
    margin-top: 237px;
    font-size: 48px;
    color: #735440;
    
}

.read_more_margin{
    margin-top: 35px;

}

.read_more_b{
    background: #57984C;
    border-color: #57984C;
    border-radius: 0%;
    font-size: 16px;
    padding:15px 30px 15px 30px;
}

.shadow_head{
    box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.34);
    position: relative;
}
