
.container{
  width: 100%;
  display: flex;
  text-align: center;
}

.col-6{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
}
.buttons {
display: flex;
align-items: center;
justify-content: center;
}

button {
background-color: darksalmon;
border: 0;
border-radius: 4px;
color: #fff;
font-size: 18px;
padding: 10px;
margin: 10px;
width: 300px;
}